
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 style="text-align: center; font-family: 'Berlin Sans FB'; transform: scale(2);">About Us</h3>
                @*<ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">ABOUT US</li>
                </ul>*@
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="noo-sh-title">About AstroAdventure</h3>
                <p>
                    AstroAdventure provide information and interesting facts about universe. AstroAdventure tell more about past astronomical events and their cause and also tell about
                    persent and future all time of astronomical events. Every new event would be cast on AstroAdevture website. AstroAdventure website will be come more new feature every time.
                    It is user friendly and with more better performance. Bring friends and stay updated every time about universe and satronomical events.
                </p>
                <p>
                    If any question about AsroAdventure or about any question you can contact us and we will give answer of your all question.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-thumbnail img-fluid" src="~/Content/Images/JWST4.jpeg" alt="" />
                    <img class="img-thumbnail img-fluid"style="margin-left:0px;width:275px" src="~/Content/Images/JWST2.jpeg" alt="" />
                    <img class="img-thumbnail img-fluid"style="width:270px;" src="~/Content/Images/JWST1.jpeg" alt="" />
                    <img class="img-thumbnail img-fluid" style="margin-left:0px;width:250px;height:230px" src="~/Content/Images/JWST3.jpeg" alt="" />
                </div>
            </div>
        </div>
        @*<div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>*@
        <div class="row my-4 mt-5">
            <div class="col-12">
                <h3 class="noo-sh-title">Explore more about Universe</h3>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/Uploads/earth.jpeg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Earth</h3>
                        </div>
                        @*<ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>*@
                    </div>
                    <div class="team-description">
                        <p>Earth is 4.5 Billion year old, and before 4.5 billions years Earth was very hot planet but time to time coldness fall on Earth due to rotation on 23 degree.
                        Now not other planet is discoverable like Earth but in future maybe there are more like Earth.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/Uploads/moon.jpeg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Moon</h3> 
                        </div>
                    </div>
                    <div class="team-description">
                        <p>Moon rotate around Earth and make 27.8 days on one month. Moon gravity gives Earth balance that make four seasons 
                        in one year and control tide in sea and balance ecosystem of Earth. Without Moon Earth can rotate randomly around it's own axis that make Earth's climate more dramatic.'</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/Uploads/sun.jpeg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Sun</h3>
                        </div>
                    </div>
                    <div class="team-description">
                        <p>Sun is star of our Solar System. Sun provide heat, light, energy to Earth. Plants take light and heat of sun and continue to 
                        out oxygen O2 and in carbon dyoxide CO2, then human and other animals can live through oxygen. Without Sun all energy and life could be not possible.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/Content/Images/galaxy.jpeg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Galaxy</h3> 
                        </div>
                    </div>
                    <div class="team-description">
                        <p>Milky galaxy is our own galaxy that contain trillions of stars and planets and comets etc. Milky way galaxy diameter is about 1 million light years, that means
                        light take 1 millions years time  to travel in left to right corner side of galaxy. In center huge amount of energy contain and also a massive black hole in center called Saggitarius A.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->