USE [AstroSpaceDB]
GO
/****** Object:  Table [dbo].[tblArticle]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArticle](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblComment]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ArticleID] [int] NULL,
	[PlanetID] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblImage]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[AltText] [nvarchar](200) NULL,
	[ArticleID] [int] NULL,
	[PlanetID] [int] NULL,
	[StarID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMission]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMission](
	[MissionID] [int] IDENTITY(1,1) NOT NULL,
	[MissionName] [nvarchar](200) NOT NULL,
	[LaunchDate] [date] NULL,
	[EndDate] [date] NULL,
	[Objective] [nvarchar](max) NULL,
	[RelatedPlanetID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPlanet]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlanet](
	[PlanetID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryID] [int] NULL,
	[DistanceFromSun] [float] NULL,
	[Radius] [float] NULL,
	[Mass] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStar]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStar](
	[StarID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[DistanceFromEarth] [float] NULL,
	[Mass] [float] NULL,
	[Radius] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[StarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 12/10/2025 11:01:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[UserName] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Address] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProfileImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblArticle] ON 

INSERT [dbo].[tblArticle] ([ArticleID], [Title], [Content], [CategoryID], [AuthorID], [CreatedAt], [UpdatedAt]) VALUES (2, N'The Wonders of the Milky Way', N'The Milky Way is our galaxy and there are trillions stars in our galaxy. ', 1, 10, CAST(N'2025-10-05T13:14:41.740' AS DateTime), CAST(N'2025-10-07T12:44:31.657' AS DateTime))
INSERT [dbo].[tblArticle] ([ArticleID], [Title], [Content], [CategoryID], [AuthorID], [CreatedAt], [UpdatedAt]) VALUES (3, N'Natural Satellite', N'Moon is natural satellite of Earth.', 2, 7, CAST(N'2025-10-05T13:38:19.757' AS DateTime), CAST(N'2025-10-07T12:45:06.540' AS DateTime))
INSERT [dbo].[tblArticle] ([ArticleID], [Title], [Content], [CategoryID], [AuthorID], [CreatedAt], [UpdatedAt]) VALUES (5, N'Star', N'Sun is life source of planet Earth.', 3, 10, CAST(N'2025-10-06T17:19:02.837' AS DateTime), CAST(N'2025-10-07T12:44:22.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblArticle] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Galaxies', N'Contains stars, dust, and dark matter.')
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Moon', N'Earth''s natural satellite.')
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Sun', N'Our Star in Solar System')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblComment] ON 

INSERT [dbo].[tblComment] ([CommentID], [UserID], [ArticleID], [PlanetID], [Content], [CreatedAt]) VALUES (1, 7, 3, 3, N'Amazing! it is very informative', CAST(N'2025-10-05T13:39:23.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblComment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblImage] ON 

INSERT [dbo].[tblImage] ([ImageID], [Url], [AltText], [ArticleID], [PlanetID], [StarID]) VALUES (3, N'/Uploads/earth.jpeg', N'Earth', 2, 2, 1)
SET IDENTITY_INSERT [dbo].[tblImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMission] ON 

INSERT [dbo].[tblMission] ([MissionID], [MissionName], [LaunchDate], [EndDate], [Objective], [RelatedPlanetID]) VALUES (1, N'Apollo 11', CAST(N'1969-07-16' AS Date), CAST(N'1969-07-24' AS Date), N'Land humans on the Moon.', 11)
INSERT [dbo].[tblMission] ([MissionID], [MissionName], [LaunchDate], [EndDate], [Objective], [RelatedPlanetID]) VALUES (2, N'Mars''s Mission', CAST(N'2007-10-20' AS Date), CAST(N'2008-03-14' AS Date), N'Research on Mars ', 5)
INSERT [dbo].[tblMission] ([MissionID], [MissionName], [LaunchDate], [EndDate], [Objective], [RelatedPlanetID]) VALUES (3, N'Venus''s Mission', CAST(N'1996-03-22' AS Date), CAST(N'1997-02-16' AS Date), N'Inner and Outer Surface research ', 4)
SET IDENTITY_INSERT [dbo].[tblMission] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPlanet] ON 

INSERT [dbo].[tblPlanet] ([PlanetID], [Name], [Description], [CategoryID], [DistanceFromSun], [Radius], [Mass]) VALUES (2, N'Earth', N'Our Planet where life exist.', 4, 149.6, 6371, 5.97E+24)
INSERT [dbo].[tblPlanet] ([PlanetID], [Name], [Description], [CategoryID], [DistanceFromSun], [Radius], [Mass]) VALUES (3, N'Mercury', N'First close planet from Sun. life can''t exit there due to extreme heat.', 4, 400, 133.1, 2140)
INSERT [dbo].[tblPlanet] ([PlanetID], [Name], [Description], [CategoryID], [DistanceFromSun], [Radius], [Mass]) VALUES (4, N'Venus', N'Second close planet from Sun. No Life.', 4, 139.2, 23340, 4.47E+24)
SET IDENTITY_INSERT [dbo].[tblPlanet] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStar] ON 

INSERT [dbo].[tblStar] ([StarID], [Name], [Type], [DistanceFromEarth], [Mass], [Radius]) VALUES (1, N'Sun', N'G-type main-sequence (G2V)', 149.56, 1.989E+30, 696340)
SET IDENTITY_INSERT [dbo].[tblStar] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([UserID], [FullName], [Email], [UserName], [PasswordHash], [IsActive], [Address], [CreatedAt], [ProfileImagePath]) VALUES (7, N'Maraj-ul-Hassan ', N'maraj-ul-hassan@gmail.com', N'Hassan', N'938db8c9f82c8cb58d3f3ef4fd250036a48d26a712753d2fde5abd03a85cabf4', 1, N'Khardrong ', CAST(N'2025-10-06T18:39:31.597' AS DateTime), N'/Content/Images/Gemini_Generated_Image_kxx5s7kxx5s7kxx5.png')
INSERT [dbo].[tblUser] ([UserID], [FullName], [Email], [UserName], [PasswordHash], [IsActive], [Address], [CreatedAt], [ProfileImagePath]) VALUES (10, N'Zeeshan Abbas', N'zeeshanabbas@gmail.com', N'Zeeshan ', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', 1, N'Clifton Bridge Skardu', CAST(N'2025-10-06T18:56:27.617' AS DateTime), N'/Content/Images/Zeeshan (2).png')
INSERT [dbo].[tblUser] ([UserID], [FullName], [Email], [UserName], [PasswordHash], [IsActive], [Address], [CreatedAt], [ProfileImagePath]) VALUES (18, N'Zeeshan Abbas', N'zeeshanabbas1@gmail.com', N'Zeeshan Abbas', N'4fc82b26aecb47d2868c4efbe3581732a3e7cbcc6c2efb32062c08170a05eeb8', 1, N'Clifton Bridge Skardu', CAST(N'2025-10-09T20:06:37.200' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblCateg__8517B2E016DDE402]    Script Date: 12/10/2025 11:01:02 am ******/
ALTER TABLE [dbo].[tblCategory] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tblUser_Email]    Script Date: 12/10/2025 11:01:02 am ******/
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [UQ_tblUser_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tblUser_UserName]    Script Date: 12/10/2025 11:01:02 am ******/
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [UQ_tblUser_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblArticle] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblComment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF_tblUser_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tblUser] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblArticle]  WITH CHECK ADD  CONSTRAINT [FK_Article_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
ALTER TABLE [dbo].[tblArticle] CHECK CONSTRAINT [FK_Article_Author]
GO
ALTER TABLE [dbo].[tblArticle]  WITH CHECK ADD  CONSTRAINT [FK_Article_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[tblArticle] CHECK CONSTRAINT [FK_Article_Category]
GO
ALTER TABLE [dbo].[tblComment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Article] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[tblArticle] ([ArticleID])
GO
ALTER TABLE [dbo].[tblComment] CHECK CONSTRAINT [FK_Comment_Article]
GO
ALTER TABLE [dbo].[tblComment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Planet] FOREIGN KEY([PlanetID])
REFERENCES [dbo].[tblPlanet] ([PlanetID])
GO
ALTER TABLE [dbo].[tblComment] CHECK CONSTRAINT [FK_Comment_Planet]
GO
ALTER TABLE [dbo].[tblComment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
ALTER TABLE [dbo].[tblComment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[tblImage]  WITH CHECK ADD  CONSTRAINT [FK_Image_Article] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[tblArticle] ([ArticleID])
GO
ALTER TABLE [dbo].[tblImage] CHECK CONSTRAINT [FK_Image_Article]
GO
ALTER TABLE [dbo].[tblImage]  WITH CHECK ADD  CONSTRAINT [FK_Image_Planet] FOREIGN KEY([PlanetID])
REFERENCES [dbo].[tblPlanet] ([PlanetID])
GO
ALTER TABLE [dbo].[tblImage] CHECK CONSTRAINT [FK_Image_Planet]
GO
ALTER TABLE [dbo].[tblImage]  WITH CHECK ADD  CONSTRAINT [FK_Image_Star] FOREIGN KEY([StarID])
REFERENCES [dbo].[tblStar] ([StarID])
GO
ALTER TABLE [dbo].[tblImage] CHECK CONSTRAINT [FK_Image_Star]
GO
ALTER TABLE [dbo].[tblMission]  WITH CHECK ADD  CONSTRAINT [FK_Mission_Planet] FOREIGN KEY([RelatedPlanetID])
REFERENCES [dbo].[tblPlanet] ([PlanetID])
GO
ALTER TABLE [dbo].[tblMission] CHECK CONSTRAINT [FK_Mission_Planet]
GO
ALTER TABLE [dbo].[tblPlanet]  WITH CHECK ADD  CONSTRAINT [FK_Planet_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[tblPlanet] CHECK CONSTRAINT [FK_Planet_Category]
GO
